# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: cd6e99057eceb7982beaaed4b8399a30bf486e7b61da2356081301953fd2f2d06f3be684bcf12fab79dbde3be26393d74b9334b0ef0993e6793e3c9438e577d8

test:
  secret_key_base: 92926a28f0daacb09aa9ac8047bb8a3f7c9deea2675844b4ff1feed305d8bd0cfa6ce33d0890720796dc7d474574009db15111195b2731176597ec1ecf37ccb6

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
